
body {
    /* aca me modificaria todoe l fondo salvo la parte del header y carrusel */
    background-color: #f5f0e1;
}
/* aca me modificaria la parte del carrusel  */
#carouselExample {
    background-color: #f5f0e1; /* Solo afecta al carrusel */
    padding: 5px;   /* vendria a ser el espacio que se deja entre la imagen y el carrusel */
    border-radius: 5px;
}
header{ 
    /* aca me modificaria la parte del titulo */
    color: white;
    background-color: #4e342e;
    text-align: center;
}
#Paisaje1 {
    /* Estilos específicos para la primera imagen */
    border: 5px solid #4e342e;
}

#Paisaje2 {
    /* Estilos específicos para la segunda imagen */
    border: 5px solid #4e342e; /* Ejemplo: agregar un borde negro */
}
#Paisaje3 {
    /* Estilos específicos para la tercera imagen */
    border: 5px solid #4e342e;
}

.carousel-controls {
    width: auto;
    display: flex;   
}

/* mas estilos en los botones  */
.carousel-control-prev, .carousel-control-next {
    
    background-color: rgba(114, 105, 101, 0.5); /*  El valor rgba(0, 0, 0, 0.5) representa el color negro (rgb(0, 0, 0)) con un 50% de opacidad. */
    border: none;
    border-radius: 100%;
    padding: 20px;/* Agrega espacio interno es decir es el cuadradito */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color:#4e342e; /* Color de los iconos */
    color:#4e342e;
}
footer{
    text-align: center;
    font-weight: bold;
    color: black;
    
}
main {
    background-color: #fff; /* Fondo blanco para la sección principal */
    color: black; /* Texto negro para el main */
    text-align: justify;
    text-decoration: none;
    padding: 20px; /* Asegura que haya espacio alrededor del texto */
}
/* #carouselExample → Se usa cuando el elemento tiene un ID (id="carouselExample" en HTML).

.carouselExample → Se usa cuando el elemento tiene una clase (class="carouselExample" en HTML). */